footer {
  width: 100%;
  height: auto;
  display: inline-block;
  background-color: $mintcolor;
  .footer__wrapper {
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: calc(50% - 40%);
    display: inline-block;
    font-family: $mainfont;
    position: relative;
    .arrow__up {
      width: 70px;
      height: 70px;
      border-radius: 50px;
      background-color: $pink;
      margin-top: -70px;
      right: 0px;
      position: absolute;
      justify-content: center;
      align-items: center;
      display: flex;
      box-shadow: 0px 5px 3px 0px rgba(104, 100, 100, 0.4);
      @media (max-width: $l) {
        width: 60px;
        height: 60px;
        margin-top: -50px;
      }
      @media (max-width: $m) {
        margin-top: -45px;
        width: 53px;
        height: 53px;
        left: 0px;
        margin-left: calc(50% - 26.5px);
      }
      @media (max-width: $m) {
        margin-top: -45px;
        width: 55px;
        height: 55px;
      }
      @media (max-width: $s) {
        margin-top: -30px;
        width: 40px;
        height: 40px;
      }
      img {
        width: 45px;
        @media (max-width: $l) {
          width: 40px;
        }
        @media (max-width: $m) {
          width: 35px;
        }
        @media (max-width: $s) {
          width: 30px;
        }
      }
    }
    .social__networks {
      width: 90%;
      display: inline-block;
      margin-left: calc(50% - 45%);
      text-align: center;
      border-bottom: 1px solid white;
      font-size: $paragraph;
      padding: 10px 0px;
      @media (max-width: $m) {
        padding-top: 30px;
      }
      .social {
        color: white;
        padding: 20px;
        font-size: 30px;
        width: 70px;
        @media (max-width: $m) {
          font-size: 18px;
          width: 35px;
          padding: 8px;
        }
        &:hover {
          background-color: white;
          color: $mintcolor;
          border-radius: 50px;
          @media (max-width: $m) {
            pointer-events: none;
        }
        }
      }
    }
    .company__name {
      width: 90%;
      display: inline-block;
      margin-left: calc(50% - 45%);
      text-align: center;
      margin-top: 2px;
      i {
        font-size: 50px;
        padding: 20px;
        color: white;
        @media (max-width: $l2) {
          font-size: 40px;
        }
      }
    }
    .copyrights {
      width: 90%;
      margin-left: calc(50% - 45%);
      display: inline-block;
      color: white;
      font-family: $mainfont;
      font-size: $small;
      text-align: center;
    }
    .text__box {
      width: 100%;
      min-width: 150px;
      float: left;
      padding: 15px 0px;
      letter-spacing: 1px;
      font-family: $mainfont;
      font-size: $small;
    }
    .more__info {
      width: 90%;
      text-align: center;
      margin-left: calc(50% - 45%);
      padding: 15px 0px;
      color: white;
      font-size: $small;
      letter-spacing: 1px;
      font-family: $mainfont;
    }
  }
}

html {
  scroll-behavior: smooth;
}

