header {
  width: 100%;
  height: 60px;
  padding: 20px 0px;
  font-family: $mainfont;
  font-size: $paragraph;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: $pink;
  .topnav {
    overflow: hidden;
    width: 60%;
    text-align: center;
    @media (max-width: $xl) {
      width: 70%;
    }
    @media (max-width: $m) {
      width: 86%;
      font-size: $h1;
    }
    @media (max-width: $l) {
      text-align: right;
      font-size: $h2;
      width: 98%;
    }
    @media (max-width: $s) {
      font-size: $large;
    }
    @media (orientation: landscape) and (hover: none) and (pointer: coarse) and (max-width: $l){
      text-align: center;
      font-size: $h1;
    }
    a {
      display: inline-block;
      padding: 14px 30px;
      color: white;
      @media screen and (max-width: $l) {
        display: none;
      }
      @media (orientation: landscape) and (hover: none) and (pointer: coarse) and (max-width: $l){
        display: inline-block;
      }
      &:hover {
        background-color: white;
        color: $pink;
      }
    }
    .icon {
      display: none;
      @media screen and (max-width: $l) {
        display: inline-block;
      }
      @media (orientation: landscape) and (hover: none) and (pointer: coarse) and (max-width: $l){
        display: none;
      }
    }
  }
}
