.introduction {
  width: 100%;
  height: 100vh;
  background-image: url(../img/GreenBuilding.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .introduction__wrapper {
    display: inline-block;
    width: 50%;
    height: 90%;
    margin-top: 3%;
    margin-left: calc(50% - 25%);
    @media (max-width: $m2) {
      margin-top: 8%;
      width: 80%;
      margin-left: calc(50% - 40%);
    }
    @media (max-width: $xs) {
      margin-top: 12%;
      width: 95%;
      margin-left: calc(50% - 47.5%);
    }
    .icon {
      display: inline-block;
      width: 100%;
      height: 13%;
      text-align: center;
      i {
        text-shadow: 1px 1px $textshadowcolor;
        font-size: 60px;
        color: $pink;
        @media (max-width: $m2) {
          font-size: 80px;
        }
        @media (max-width: $xs) {
          font-size: 70px;
        }
      }
    }
    .intro {
      width: 100%;
      h1 {
        font-family: $mainfont;
        font-weight: bold;
        text-transform: uppercase;
        font-size: $superlarge;
        color: $pink;
        text-align: center;
        text-shadow: 1px 1px $textshadowcolor;
        @media (max-width: $m2) {
          font-size: $extralarge;
        }
        @media (max-width: $xs) {
          padding: 4%;
        }
      }
      p {
        width: 100%;
        font-family: $mainfont;
        display: inline-block;
        padding: 4%;
        font-size: $paragraph;
        color: $grey;
        text-shadow: 1px 1px $textshadowcolor;
        text-align: center;
        @media (max-width: $xs) {
          font-size: $h2;
        }
      }
    }
    .count__down {
      width: 80%;
      margin-left: calc(50% - 40%);
      margin-top: 5%;
      text-shadow: 1px 1px $textshadowcolor;
      @media (max-width: $xs) {
        padding-top: 5%;
      }
      .time {
        width: calc(100% / 4);
        float: left;
        text-align: center;
        color: $pink;
        font-size: $large;
        font-family: $mainfont;
        font-weight: bold;
        padding: 1%;
        @media (max-width: $m2) {
          font-size: $extralarge;
        }
      }
      .time__details {
        width: calc(100% / 4);
        float: left;
        text-align: center;
        color: $pink;
        font-size: $small;
        padding: 2%;
        font-family: $mainfont;
        text-transform: uppercase;
        @media (max-width: $xs) {
          font-size: $paragraph;
        }
      }
    }
    .form__email {
      width: 80%;
      height: 25%;
      margin-left: calc(50% - 40%);
      text-align: center;
      margin-top: 2%;
      padding-top: 10%;
      display: inline-block;
      font-family: $mainfont;
      @media (max-width: $m2) {
        margin-top: 6%;
      }
      @media (max-width: $xs) {
        padding-top: 12%;
        height: 20%;
      }
      input {
        padding: 1%;
        background: transparent;
        border-bottom: 1px solid white;
        width: 100%;
        &::placeholder {
          font-size: $medium;
          color: white;
          opacity: 1;
          @media (max-width: $xs) {
            font-size: $paragraph;
          }
        }
      }
    }
    .submit__button {
      width: 100%;
      height: 12%;
      text-align: center;
      color: $pink;
      font-family: $mainfont;
      button {
        border-radius: 3px;
        background-color: $pink;
        text-align: center;
        color: white;
        padding: 1.8%;
        font-size: $medium;
        box-shadow: 0px 5px 3px 0px rgba(104, 100, 100, 0.4);
        @media (max-width: $xs) {
          font-size: $h2;
        }
      }
    }
    .mouse__animation {
      width: 100%;
      height: 10%;
      text-align: center;
      .mouse {
        width: 30px;
        height: 50px;
        margin-left: calc(50% - 15px);
        border: 3px solid white;
        border-radius: 45%;
        .mouse__detail {
          display: inline-block;
          width: 3px;
          height: 6px;
          border-radius: 2px;
          background-color: #fff;
          margin-top: 5px;
          animation-name: mouse;
          animation-duration: 2s;
          animation-iteration-count: infinite;
          &:hover {
            animation-play-state: paused;
          }
          @keyframes mouse {
            0% {
              margin-top: 5px;
            }
            50% {
              background-color: white;
            }
            100% {
              margin-top: 20px;
              background-color: rgba(0, 0, 0, 0);
            }
          }
        }
      }
    }
  }
}
