.introduction {
  width: 100%;
  height: auto;
  background-image: url(../img/GreenBuilding.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  .introduction__wrapper {
    display: inline-block;
    width: 60%;
    margin-left: calc(50% - 30%);
    padding: 2% 0px;
    @media (max-width: $xl) {
      width: 70%;
      margin-left: calc(50% - 35%);
    }
    @media (max-width: $m) {
      width: 86%;
      margin-left: calc(50% - 43%);
    }
    @media only screen and (min-device-width: $s) and (max-device-width: $xl) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
      width: 90%;
      margin-left: calc(50% - 45%);
    }
    .icon {
      display: inline-block;
      width: 100%;
      text-align: center;
      i {
        text-shadow: 1px 1px $textshadowcolor;
        font-size: 80px;
        color: $pink;
        padding: 15px;
        @media (max-width: $s) {
          font-size: 65px;
        }
      }
    }
    .intro {
      width: 100%;
      h1 {
        font-family: $mainfont;
        font-weight: bold;
        text-transform: uppercase;
        font-size: $extralarge;
        color: $pink;
        text-align: center;
        text-shadow: 1px 1px $textshadowcolor;
        padding: 30px 0px;
        @media (max-width: $xl) {
          font-size: $superlarge;
        }
        @media (max-width: $m) {
          font-size: $extralarge;
        }
        @media (max-width: $s) {
          font-size: 11vmin;
        }
        @media only screen and (min-device-width: $s) and (max-device-width: $xl) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
          font-size: $landscape;
        }
      }
      p {
        width: 100%;
        font-family: $mainfont;
        display: inline-block;
        padding: 30px;
        font-size: $paragraph;
        color: $grey;
        text-shadow: 1px 1px $textshadowcolor;
        text-align: center;
        @media (max-width: $m) {
          font-size: $h2;
        }
        @media (max-width: $s) {
          font-size: 5vmin;
          padding: 15px;
        }
        @media only screen and (min-device-width: $s) and (max-device-width: $xl) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
          font-size: $superlarge;
        }
      }
    }
    .count__down {
      width: 80%;
      margin-left: calc(50% - 40%);
      margin-top: 40px;
      text-shadow: 1px 1px $textshadowcolor;
      @media (max-width: $l) {
        margin-top: 30px;
      }
      @media (max-width: $m) {
        width: 90%;
        margin-left: calc(50% - 45%);
      }
      .time {
        width: calc(100% / 4);
        float: left;
        text-align: center;
        color: $pink;
        font-size: $superlarge;
        font-family: $mainfont;
        font-weight: bold;
        padding: 3px;
        @media (max-width: $xl) {
          font-size: $large;
        }
        @media (max-width: $m) {
          font-size: $superlarge;
        }
        @media (max-width: $s) {
          font-size: 10vmin;
        }
        @media only screen and (min-device-width: $s) and (max-device-width: $xl) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
          font-size: $landscape;
        }
      }
      .time__details {
        width: calc(100% / 4);
        float: left;
        text-align: center;
        color: $pink;
        font-size: $small;
        padding: 20px 0px;
        font-family: $mainfont;
        text-transform: uppercase;
        @media (max-width: $m) {
          font-size: $medium;
        }
        @media (max-width: $s) {
          font-size: $paragraph;
        }
        @media only screen and (min-device-width: $s) and (max-device-width: $xl) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
          font-size: $h2;
        }
      }
    }
    .form__email {
      width: 80%;
      margin-left: calc(50% - 40%);
      text-align: center;
      margin-top: 3px;
      padding: 50px 0px;
      display: inline-block;
      font-family: $mainfont;
      @media (max-width: $s) {
        padding: 20px 0px;
      }
      @media (max-width: $m) {
        width: 90%;
        margin-left: calc(50% - 45%);
      }
      input {
        padding: 5px 0px;
        background: transparent;
        border-bottom: 1px solid white;
        width: 100%;
        -webkit-appearance: none;
        border-radius: 0;
        color: rgb(95, 95, 95);
        @media (max-width: $l) {
          padding: 4px 0px;
        }
        @media only screen and (min-device-width: $s) and (max-device-width: $xl) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
          border-bottom: 1px solid $grey;
        }
        &::placeholder {
          font-size: $medium;
          color: white;
          opacity: 1;
          @media (max-width: $m) {
            font-size: $paragraph;
          }
          @media (max-width: $s) {
            font-size: $h2;
          }
          @media only screen and (min-device-width: $s) and (max-device-width: $xl) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
            font-size: $h1;
            color: $grey;
          }
        }
      }
    }
    .submit__button {
      width: 100%;
      padding: 40px 0px;
      text-align: center;
      color: $pink;
      font-family: $mainfont;
      @media (max-width: $l) {
        padding: 20px 0px;
      }
      button {
        border-radius: 3px;
        background-color: $pink;
        text-align: center;
        color: white;
        padding: 15px 20px;
        font-size: $medium;
        box-shadow: 0px 5px 3px 0px rgba(104, 100, 100, 0.4);
        @media (max-width: $m) {
          font-size: $paragraph;
        }
        @media (max-width: $s) {
          font-size: $h2;
          padding: 10px 15px;
        }
        @media only screen and (min-device-width: $s) and (max-device-width: $xl) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
          font-size: $h1;
        }
      }
    }
    .mouse__animation {
      width: 100%;
      text-align: center;
      padding: 20px 0px;
      @media (max-width: $s) {
        padding: 10px 0px;
      }
      .mouse {
        width: 40px;
        height: 65px;
        margin-left: calc(50% - 15px);
        border: 2px solid white;
        border-radius: 30px;
        @media (max-width: $xl) {
          width: 30px;
          height: 50px;
        }
        @media (max-width: $s) {
          width: 25px;
          height: 40px;
        }
        .mouse__detail {
          display: inline-block;
          width: 4px;
          height: 8px;
          border-radius: 2px;
          background-color: #fff;
          margin-top: 5px;
          animation-name: mouse;
          animation-duration: 2s;
          animation-iteration-count: infinite;
          @media (max-width: $s) {
            width: 3px;
            height: 4px;
          }
          &:hover {
            animation-play-state: paused;
          }
          @keyframes mouse {
            0% {
              margin-top: 5px;
            }
            50% {
              background-color: white;
            }
            100% {
              margin-top: 20px;
              background-color: rgba(0, 0, 0, 0);
            }
          }
        }
      }
    }
  }
}
