.main {
  width: 100%;
  height: 80vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: $l2) {
    height: auto;
  }
  .main__wrapper {
    width: 90%;
    padding: 30px;
    .left__main {
      width: 55%;
      float: left;
      @media (max-width: $l2) {
        float: none;
        width: 100%;
      }
      .about {
        width: 90%;
        margin-top: 30px;
        margin-left: calc(50% - 45%);
        h2 {
          font-size: $h2;
          color: black;
          font-family: $mainfont;
          text-transform: uppercase;
          padding: 15px 0px;
        }
        p {
          display: inline-block;
          padding: 15px 0px;
          font-size: $paragraph;
          color: $grey;
          font-family: $mainfont;
        }
      }
      .graph {
        width: 90%;
        font-size: $medium;
        margin-left: calc(50% - 45%);
        color: $grey;
        .container {
          padding: 23px 0px;
          width: 100%;
          .top {
            display: inline-block;
            width: 100%;
            padding: 5px 0px;
            .label {
              float: left;
              font-family: $mainfont;
            }
            .percentage {
              float: right;
              font-family: $mainfont;
            }
          }
          .bottom {
            display: inline-block;
            width: 100%;
            max-height: 20px;
            background-color: #e9e9e9;
            .bar {
              display: inline-block;
              max-height: 20px;
              .loader {
                @extend .bar;
                height: 19px;
                background-color: $mintcolor;
                animation: loading 5s forwards;
                @keyframes loading {
                  0% {
                    width: 0;
                  }
                  100% {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
    .right__main {
      width: 45%;
      display: inline-block;
      @media (max-width: $l2) {
        width: 100%;
      }
      .questions {
        width: 90%;
        margin-top: 30px;
        margin-left: calc(50% - 45%);
        h2 {
          font-size: $h2;
          color: black;
          font-family: $mainfont;
          text-transform: uppercase;
          padding: 15px 0px;
        }
        p {
          display: inline-block;
          padding-top: 5%;
          font-size: $paragraph;
          color: $grey;
          font-family: $mainfont;
          padding: 15px 0px;
        }
      }
      .form__questions {
        width: 90%;
        font-size: $medium;
        margin-left: calc(50% - 45%);
        color: $grey;
        font-family: $mainfont;
        .name {
          float: left;
          width: 50%;
          padding-top: 45px;
          @media (max-width: $m) {
            float: none;
            width: 100%;
          }
          input {
            padding: 3px;
            width: 95%;
            -webkit-appearance: none;
            border-radius: 0;
            background: transparent;
            border-bottom: 1px solid $grey;
            font-size: $medium;
            @media (max-width: $m) {
              width: 100%;
            }
            &::placeholder {
              font-size: $medium;
              color: $grey;
              opacity: 1;
            }
          }
        }
        .email {
          float: left;
          width: 50%;
          padding-top: 45px;
          @media (max-width: $m) {
            float: none;
            width: 100%;
          }
          input {
            padding: 3px;
            background: transparent;
            border-bottom: 1px solid $grey;
            width: 95%;
            -webkit-appearance: none;
            border-radius: 0;
            font-size: $medium;
            @media (max-width: $m) {
              width: 100%;
            }
            &::placeholder {
              font-size: $medium;
              color: $grey;
              opacity: 1;
            }
          }
        }
        .message {
          width: 100%;
          margin-top: 50px;
          display: inline-block;
          @media (max-width: $m) {
            padding-top: 45px;
            margin-top: 0px;
          }
          textarea {
            -webkit-appearance: none;
            border-bottom: 1px solid $grey;
            width: 100%;
            min-height: 150px;
            font-size: $medium;
            resize: none;
            @media (max-width: $l2) {
              min-height: 120px;
            }
            @media (max-width: $m) {
              float: none;
              width: 100%;
              min-height: 50px;
            }
            &::placeholder {
              font-size: $medium;
              color: $grey;
              opacity: 1;
            }
          }
        }
        .send__button {
          margin-top: 15px;
          padding: 3px;
          width: 100%;
          text-align: right;
          color: $pink;
          font-family: $mainfont;
          @media (max-width: $l2) {
            margin-top: 25px;
            padding-bottom: 60px;
          }
          @media (max-width: $l) {
            padding-bottom: 50px;
          }
          @media (max-width: $m) {
            text-align: center;
            padding-bottom: 40px;
          }
          @media (max-width: $s) {
            text-align: center;
            padding-bottom: 35px;
          }
          button {
            border-radius: 3px;
            background-color: $pink;
            text-align: center;
            color: white;
            padding: 15px 20px;
            font-size: $medium;
            box-shadow: 0px 5px 3px 0px rgba(104, 100, 100, 0.4);
            @media (max-width: $m) {
              font-size: $paragraph;
            }
            @media (max-width: $s) {
              font-size: $h2;
              padding: 10px 15px;
            }
          }
        }
      }
    }
  }
}

span {
  color: $pink;
  font-family: $mainfont;
}
