//Font-family
$mainfont: "Raleway", sans-serif;

//Colors:
$mintcolor: #61a7a7;
$pink: #ff9797;
$grey: #bfbfbf;
$textshadowcolor: rgb(63, 61, 61);

//Font-size:
$extralarge: 9vmin;
$superlarge: 7vmin;
$large: 6vmin;
$h2: 3.5vmin;
$paragraph: 2.5vmin;
$medium: 2vmin;
$small: 1.5vmin;

//@media:

$xxs: 400px;
$xs: 600px;
$s: 720px;
$m: 1000px;
$l: 1280px;
$xl: 1430px;
$xxl: 2000px;


// $sm: 400px;
// $md: 720px;
// $xl: 920px;
// $xxl: 2000px;