//Font-family
$mainfont: "Raleway", sans-serif;

//Colors:
$mintcolor: #61a7a7;
$pink: #ff9797;
$grey: #bfbfbf;
$textshadowcolor: rgb(63, 61, 61);

//Font-size:
$extralarge: 9vmin;
$superlarge: 7vmin;
$large: 6vmin;
$h2: 3.5vmin;
$paragraph: 2.5vmin;
$medium: 2vmin;
$small: 1.5vmin;

//@media:
$xxs: 320px;
$xs: 481px;
$s: 920px;
$m: 1088px;
$m2: 1267px;
$l: 1294px;
$l2: 1336px;
$xl: 1460px; 