//Font-family
$mainfont: "Raleway", sans-serif;

//Colors:
$mintcolor: #61a7a7;
$pink: #ff9797;
$grey: #bfbfbf;
$textshadowcolor: rgb(63, 61, 61);

//Font-size:
$extralarge: 9vmin;
$superlarge: 7vmin;
$large: 6vmin;
$h2: 3.5vmin;
$paragraph: 2.5vmin;
$medium: 2vmin;
$small: 1.5vmin;

// Media
$s: 400px; //small phones
$m: 720px; //phones
$l: 920px; //tablets
$xl: 2000px; //computers, big screens